<div>
  <div class="container">
    <h2>About CodeBin</h2>
    <div class="about">
      <p>
        CodeBin is an innovative online platform designed to unleash the
        creative potential of users through coding. Built on the robust Angular
        17 framework, CodeBin offers a seamless and intuitive environment for
        individuals of all skill levels to write, read, and save their code
        projects.
      </p>
    </div>
    <h3>Features</h3>
    <div class="features">
      <div>
        <h5>Interactive Code Editor</h5>
        <p>
          CodeBin boasts a feature-rich code editor that supports multiple
          programming languages including JavaScript, TypeScript, HTML, CSS, and
          more. 
        </p>
      </div>
      <div>
        <h5>Real-Time Preview</h5>
        <p>
          As users type their code, CodeBin provides a real-time preview of the
          output, allowing them to visualize the results instantly. This enables
          quick iteration and debugging, fostering a smooth development
          experience.
        </p>
      </div>
      <div>
        <h5>Customizable Workspace</h5>
        <p>
          CodeBin offers a customizable workspace where users can tailor the
          layout, theme, and preferences according to their preferences. 
        </p>
      </div>
      <div>
        <h5>Project Management</h5>
        <p>
          Users can organize their code projects seamlessly within CodeBin. They
          can create folders, rename files, and manage project structures
          effortlessly. This ensures a clutter-free workspace and enhances
          productivity.
        </p>
      </div>
      <div>
        <h5>Save and Share</h5>
        <p>
          One of the standout features of CodeBin is its ability to save code
          projects securely. Users can save their work with a click of a button,
          allowing them to revisit and edit their projects at any time.
        </p>
      </div>
    </div>
  </div>
</div>
