div{
    
    margin: 10px;
    background: #000d53;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(249, 247, 247);
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

li:hover{
    cursor:pointer;
}

.logout{
    color: white;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: white;
}

ul li a.active{
    font-weight: 700;
}