/* code-snippet.component.css */

div {
    /* max-width: 600px; */
    margin: 10px 20px;
    padding: 10px;
    background: #000d53;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(228, 227, 232, 0.966);
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 10px;
  }
  
  pre {
    font-size: 0.9rem;
    white-space: pre-wrap; /* Preserve white space, but allow wrapping */
    background-color: #f8f8f8;
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Courier New', monospace;
  }
  